body {
    font-family: "Inter", sans-serif;
    background-color: #242424;
}

.titulos-secciones {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.titulos-secciones::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 70%;
    height: 1px;
    top: 3%;
    left: 25%;
}

.Seccion-Lanzamientos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.slider-container {
    position: relative;
    width: 90%;
    max-width: 100%;
}

.slider {
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.arrows {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* Para que las flechas no interfieran con los clics en el slider */
}

.arrow {
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto; /* Permitir clics en las flechas */
}

.arrow.left {
    position: absolute;
    left: -50px; /* Ajusta esta distancia según sea necesario */
}

.arrow.right {
    position: absolute;
    right: -50px; /* Ajusta esta distancia según sea necesario */
}
