* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    vertical-align: baseline;
    font-family: Arial;

}

:root {

    --bg-html: #242424;
    --gris-claro: #3f3f3f;
    --negro-y-etiquetaSinHv: #080808;
    --blanco: #ececec;
    --fecha: #730DD8;
    --ver-mas-y-etiqueta: #9747FF;
    --acento: #AB241F;
}


section {
    margin-top: 30px;
}

body {
    background-color: var(--bg-html);
    font-family: "Inter", sans-serif;
}


/*TITULOS Y SUBTITULOS*/

.titulos-secciones {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  position: relative; /* Necesario para que el pseudo-elemento se posicione en relación al h2 */
  margin-left: 102px;
}

.titulos-secciones::after {
  content: "";
  display: block;
  width: 1280px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 100%; /* Coloca la línea justo debajo del h2 */
  left: 0;
  margin-top: 10px; /* Espacio entre el texto y la línea */
}

.subtitulos{
  color: var(--blanco);
  font-size: 20;
  font-weight: 700;
  margin-left: 120px;
  margin-bottom: 20px;
}

.ver-mas{
  color: var(--blanco);
  font-size: 16px;
  font-weight: 500;
  margin-left: 1280px;
  margin-bottom: 100px;
  margin-top: 20px;
}

/*................. NAVBAR ..........*/
.navbar {
  position: fixed; /* Usar 'position' en lugar de 'display' */
  top: 0;
  margin-left: -54px;
  width: 104%;
  background-color: black;
  padding: 10px 3%; /* Ajuste de relleno para mejor visualización */
  z-index: 1000; /* Asegura que la navbar esté encima de otros elementos */
}
.menu img {
  height: 30px;
  padding-left: 50px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  padding-top: 8px;
  font-size: small;
}
.nav-link {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-left: 30px;
  transition: color 0.3s;
}
.nav-icon img {
  height: 25px;
}
.nav-link:hover {
  color: red;
}

/*BANNER*/

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: var(--bg-html);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 40%;
}

.carousel-item {
    width: 100%;
    flex: 0 0 100%;
    position: relative;
}

.carousel-item img {
    width: 95%;
    height: 80vh;
    object-position: center;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    opacity: 1;
}

.carousel-caption {
    position: absolute;
    margin-left: 10px;
    left: 78px;
    top: 34%;
    text-align: left;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.carousel .cta-button{
  display: inline-block;
  background-color: var(--acento);
  text-decoration: none;
  border-radius: 5px;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;

}

.carousel-caption h3 {
    font-size: 28px;
}

.carousel-caption p {
    margin: 5px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--acento);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 100px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.indicator.active {
    background: var(--acento);
}

/*ARTICULOS RECIENTES*/

.seccion1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.seccion1 h3 {
    padding: 10px;
    font-size: 28px;
    text-align: left;
}

.seccion1 h5 {
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

.seccion1 .fecha {
    color: var(--ver-mas-y-etiqueta);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.articulos1 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tarjeta1 {
    background-color: var(--blanco);
    border-radius: 10px;
    width: 656px;
    height: 425px;
    margin-bottom: 12px;
    margin-right: 10px;
}

.tarjeta1 .img1 {
    width: 100%;
    border-radius: 10px;
}

.contenedor-tarjeta2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.contenedor-tarjeta2 h3 {
    margin: 0px;
    font-size: 18px;
    text-align: left;
}

.tarjeta2 .artic {
    margin-top: 10px;
    padding: 10px;
    width: 70%;
    height: 115px;
    display: flex;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.tarjeta2 {
    background-color: var(--blanco);
    border-radius: 10px;
    width: 556px;
    height: 131px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.tarjeta2 .img2 {
    width: 250px;
    height: 131px;
    border-radius: 10px;
}

.tarjeta2 .fecha {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--fecha);

}

.contenedor-tarjeta3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-tarjeta3 h3 {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 20px;
}

.contenedor-tarjeta3 p {
    font-size: 12px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 500;
}


.tarjeta3 {
    background-color: var(--blanco);
    border-radius: 10px;
    width: 400px;
    height: 300px;
    margin: 10px;
    margin-bottom: 20px;
}

.tarjeta3 img {
    width: 100%;
    height: 181px;
}
.contenedor-tarjeta3 a{
  text-decoration: none;
  color: #231F21;
}
/*  RANKING DE LA SEMANA */

.titleGame {
  font-size: 35px;
  font-weight: normal;
}

/* Call to action's */
.cta-button {
  display: inline-block;
  background-color: var(--acento);
  text-decoration: none;
  border-radius: 5px;
  color: white;
  width: 270px;
  height: 50px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}
.cta-button:hover {
  background-color: #f21f1f;
}

  /*.............................................................. SECCION 3 - RANKINGS ......................................................*/
  .seccion-3{
    justify-content: center;
    align-items: center;
    padding-left: 4vw;
    padding-right: 5vw;
    padding-top: 50px;
    position: relative;
    display: block;
    margin: 0;
  }

  .seccion-3 .cta-button{
    width: 266px;
  }

  /*......... cajas ..........*/
  .puesto-1{
    position: relative;
    margin-bottom: 50px;
  }
  
  .container-img-s3{
    z-index: 1;
  }
  .container-img-s3 img{
    position: absolute;
    max-width: 94%;
    margin-left: 28px;
    height: auto;  
  }
  .container-txt-s3{
    position: relative;
    display: block;
    padding-top: 30px;
    padding-left: 80px;
    width: 50%;
    color: white;
    z-index: 2;
  }
  .arepa{
    margin-left: 25px;
  }
  .calificacion-p1{
    display: flex;
    flex-direction: row;
  }
  /*.... porcentaje redondo .....*/
  .porcentaje{
    display: flex; /* contenedor del porcentaje */
    flex-direction: row;
    position: relative;
  }
  .porcentaje-txt{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;

    align-items: center;
  }
  .porcentaje h6{
    color: #FF2737;/* más votado en la semana */
    font-weight: bolder;
    margin: 0;
  }
  .porcentaje h6::before {
    content: '';/* Linea de separación */
    position: absolute;
    top: 5px;
    left: -15px;
    height: 70%;
    width: 3px;
    background-color:#FF2737;
  }
  .progress-circle {
    width: 45px;/* Circulo exterior */
    height: 45px;
    border-radius: 50%;
    background: conic-gradient(#FF2737 0% 96%, #4B0808 0%);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    align-items: center;
    position: relative;
  }
  .inner-circle {
    width: 38px;/* Circulo interior */
    height: 38px;
    background-color: #231F21;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .progress-text {
    font-size: 12px;/* porcentaje textual */
    color: white;
  }
  /*.... Descripción del juego .....*/
  .descripcion-p1{
    max-width: 78%;
    margin-top: 3rem;
    padding-left: 15px;
  }
  .descripcion-p1 p{
    font-size: 18px;
    font-weight: 100;
    line-height: 1.3;
  }
  .descripcion-p1 h5{
    font-size: 14px;
    font-weight: 100;
  }
  .descripcion-p1 h5::before {
    content: '';/* Linea de separación */
    position: absolute;
    top: 11.5rem;
    height: 1px;
    width: 70%;
    background-color:#ffffff;
  }
  /*.... Comentarios .....*/
  .comentarios-p1{
    margin-top: -20px;
    margin-left: 15px;
  }
  .progress-wrapper {
    margin: 0;
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: -30px; /* Ajusta este valor según sea necesario */
  
  }
  .progress-container {
    width: 100%;
    background-color: #5F0CB1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 10px;
  }
  .progress-bar {
    height: 4px;
    background-color: #9747FF;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 25px 0 0 25px;
  }
  .left-text {
    color: #D6B6FF;
    font-weight: bold;
    margin-right: 15px;
    white-space: nowrap; /* Evita el salto de línea */
  }
  .right-text {
    color: #D6B6FF;
    font-weight: bold;
    margin-left: 10px;
  }
  /*.... Etiquetas .....*/
  .etiquetas-s3{
    display: flex;
    flex-direction:row;
    margin-top: 30px;
  }
  .etq-1{
    position: relative;
    margin-left: 10px;
    margin-right: 0;
  }
  .etq-2{
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }.etq-3{
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
   #cta-rankings{
    margin-left: 9px;
    padding: 8px 20px;
    width: 30%;
  }
  
  
  
  /*..............................................................................................*/
  .tarjetas-ranking{
    margin-top: 10px;
    padding-bottom: 60px;
    display: flex;
    color: white;
  }
  .tarjetas-ranking img{
    width: 376px;
    border-radius: 10px;
  }

.titulo-etiquetas{
  display: flex;
  flex-direction: row;
}
.titulo-etiquetas h4{
 font-size: 24px;
 padding-left: 17px;
 margin-top: 24px;
 margin-bottom: 20px;
}

.titulo-etiquetas img{
  padding-left: 0px !important;
  padding-bottom: 0px !important; 
  margin-left: 20px;
}
.contenedorTarjetita p{
  font-size: 16px;
  max-width: 90%;
  margin-bottom: 6px;
  margin-top: -8px;
  margin-right: 10px;
  padding-left: 17px;
}

.contenedorTarjetita img{
  width: 150px;
  padding-left: 17px;
  padding-bottom: 20px;
}

.contenedorTarjetita .votos{
  width: 54%;
  position: relative;
  top: 2px;
  left: 2px;
}

.puesto2, .puesto3, .puesto4{
  background-color: #373737;
  width: 373px;
  height: 389px;
  display: flex;
  flex-direction: column;

}

.tarjetas-234{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 94px;
  justify-content: space-between; /* Puedes probar con space-around o space-evenly */
  gap: 85px;
}

/* Comentarios */
.comentarios-p1 {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.progress-wrapper {
  margin: 0;
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}
.progress-container {
  width: 100%;
  background-color: #5F0CB1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 10px;
}
.progress-bar {
  height: 4px;
  background-color: #9747FF;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  border-radius: 25px 0 0 25px;
}
.left-text {
  color: #D6B6FF;
  font-weight: bold;
  margin-right: 15px;
  white-space: nowrap;
}
.right-text {
  color: #D6B6FF;
  font-weight: bold;
  margin-left: 10px;
}

/* Etiquetas */
.etiquetas-s3 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.etq-1, .etq-2, .etq-3 {
  position: relative;
  margin-left: 10px;
}
.etq-2, .etq-3 {
  margin-left: 0;
}
.Activo {
  position: absolute;
  left: -0px;
  display: none;
}
.etq-1:hover .Activo,
.etq-2:hover .Activo,
.etq-3:hover .Activo {
  display: flex;
  top: -0px;
}

#cta-rankings {
  margin-left: 9px;
  padding: 8px 20px;
  width: 30%;
}

.card-s3 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0;
}
.tarjeta-s3 {
  width: 373px;
  height: 374px;
  flex: 1 1 calc(25% - 20px);
  margin: 10px;
  background-color: #ececec;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  position: relative; /* Añadido */
}
.img-t {
  width: 100%;
  display: block;
  margin-bottom: 0px;
  object-fit: contain;
}
.contenido-tarjeta {
  padding: 15px;
  color: black;
  position: absolute; /* Añadido */
  bottom: 0; /* Añadido */
  width: 100%; /* Añadido */
  background-color: rgba(255, 255, 255, 0.8); /* Añadido para que el fondo sea semi-transparente */
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.row h4 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}
.etiquetas-s3-tarj {
  display: flex;
  flex-direction: row;
  margin-left: 4px;
  margin-top: 4px;
}
.contenido-tarjeta p {
  font-size: 13px;
  margin: 3px 0 5px 0;
}

/* Porcentaje redondo en tarjetas */
.porcentaje-T {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
}
.porcentaje-T .progress-circle {
  width: 35px;
  height: 35px;
}
.porcentaje-T .inner-circle {
  width: 28px;
  height: 28px;
}
.porcentaje-T .progress-text {
  font-size: 10px;
}
.porcentaje-txt {
  margin-left: 10px;
}
.porcentaje-T h6 {
  color: #FF2737;
  font-weight: bolder;
  margin: 0;
}

/* Etiquetas en tarjetas */
.etq-1, .etq-2, .etq-3 {
  margin-left: 10px;
}
.etq-2, .etq-3 {
  margin-left: 0;
}

.Seccion-Lanzamientos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-top: -60px;
  margin-bottom: -102px;
}

.slider-container {
  position: relative;
  width: 90%;
  max-width: 100%;
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.arrows {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* Para que las flechas no interfieran con los clics en el slider */
}

.arrow {
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto; /* Permitir clics en las flechas */
}

.arrow.left {
  position: absolute;
  left: -50px; /* Ajusta esta distancia según sea necesario */
}

.arrow.right {
  position: absolute;
  right: -50px; /* Ajusta esta distancia según sea necesario */
}

/*-------------------------------------------VOTACIONES-----------------------*/


/*JUEGOS QUE NO TE PUEDES PERDER*/

.seccion4{
  display: block;
  border-radius: 10px;
  margin: 20px 0;
  padding:20px;   
}

.seccion4{
  clear: both;
}

.tarjeta4 .img-juego {
    width: 100%;
    height: 246px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.tarjeta4 {
    background-color:var(--blanco);
    border-radius: 10px;
    width: 373px;
    height: 461px;
    margin: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tarjeta4 .descripcion{
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.seccion4 h3 {
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.seccion4 p {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;   
}

.etiquetas-s3 {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding: 0px;
    height: 30px;
}

.etq-1 {
    
    position: relative;
    margin-left: 10px;
    margin-right: 0;
}

.etq-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.etq-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.Activo {
    position: absolute;
    left: -0px;
    display: none;
}

.etq-1:hover {
    .Activo {
        display: flex;
        top: -0px;
    }
}

.etq-2:hover {
    .Activo {
        display: flex;
        top: -0px;
    }
}

.etq-3:hover {
    .Activo {
        display: flex;
        top: -0px;
    }
}

/*LEVEL UP OFERTAS*/

.seccion5{
  margin-top: 40px;
  padding: 20px;
}

.contenedor-tarjeta6{
  background-color: var(--blanco);
  border-radius: 10px;
  width: 86%;
  margin-left: 100px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.seccion5 .tarjeta5{
  width: 245px;
  height: 363px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.seccion5 p{
  color: var(--blanco);
  margin-left: -120px; 
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

.seccion5 .esp{
  margin-right: 30px;
}

.seccion5 h3{
  color: var(--blanco);
  font-size: 22px;
  font-weight: 800;
  text-align: left;
  margin-top: 10px;
  margin-left: -50px;

}
.seccion5 h4{
  color: var(--blanco);
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 20px;
  text-align: left;
}
.seccion5 .descuento{
  color: var(--ver-mas-y-etiqueta);
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
}

.seccion5 img{
  width: 234px;
  height: 187px;
  margin-left: 10px;
  margin-top: 10px;
}

/*LEVEL UP TV*/

.banner{
    background-image: url(img/TVBanner.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 40%;
    overflow: hidden;
}

.banner h3{
    color: var(--blanco);
    font-weight: 700;
    font-size: 28px ;
    text-align: left;
    margin-left: 12%;
    margin-right: 60%;
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: left;
}

.contenedor-tarjeta5 img{
    border-radius: 10px;
    width: 298px;
}

.contenedor-tarjeta5{
    color: var(--negro-y-etiquetaSinHv);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-tarjeta5 h3{
    color: var(--blanco);
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.contenedor-tarjeta5 p{
    margin-top: 10px;
    margin-left: 10px;
    color: var(--ver-mas-y-etiqueta);
}

.tarjeta5{
    width: 298px;
    height: 336px;
    background-color: var(--gris-claro); /*ponle el fondo gris mas clarito*/
    border-radius: 10px;
    margin: 5px;
}

/*DISCORD*/

.seccion7 img {
  margin-top: 30px;
    margin-left: 116px;
    width: 1240px;
}

/*  FOOTER  */

footer {
  background-color: rgb(22, 22, 23);
  color: white;
  display: flex;
  flex-wrap: wrap; /* Permite que las secciones se ajusten en líneas si no caben en una sola fila */
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del elemento */
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
/* Estilo de las secciones del footer */
.footer-section {
  flex: 1;
  min-width: 150px; /* Tamaño mínimo de las secciones */
  text-align: center;
  margin: 10px 0; /* Añade margen vertical entre las secciones */
}
/* Logo */
.logo img {
  max-width: 110%; /* Asegura que la imagen no se desborde del contenedor */
  height: auto;
  margin-top: 30px;
}
/* Redes sociales */
.socialMedia {
  margin-top: 28px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap; /* Permite que los iconos se ajusten a múltiples líneas si es necesario */
  justify-content: center;
  gap: 10px; /* Añade espacio entre los iconos */
}
.socialMedia img {
  width: 20px;
  height: 20px;
}
.redes p {
  font-size: 0.5rem;
}
/* Relleno */
.relleno {
  margin-top: 30px;
  max-width: 100%; /* Asegura que el contenido no se desborde del contenedor */
}
.relleno p {
  font-size: 0.8rem;
}